.container {
  min-height: 100vh;

  background-color: var(--appBackgroundColor);
  color: #f0f0f0;
  font-size: calc(10px + 2vmin);

  display: flex;
  flex-direction: column;
}

header {
  height: var(--headerHeight);
  background: linear-gradient(-90deg, transparent, #243a66);
}

main {
  flex: 1;

  display: flex;
  flex-direction: row;

  background-color: var(--appBackgroundColor);
}

.videocall {
  flex: 4;
}

.videocall .someone {
  position: relative;

  border: 1px solid #ff0;
  background: repeating-linear-gradient(
    135deg,
    transparent 0 10px,
    #ff0 10px 12px
  );

  width: 100%;
  height: 100%;
}
.videocall .someone video {
  /* background-color: #7fff0077; */
  width: 100%;
  height: 100%;
}
.videocall .someone::before {
  position: absolute;
  content: 'someone';
}

.videocall .me {
  position: absolute;
  top: 0;
  right: 0;

  border: 1px solid #0ff;
  background: repeating-linear-gradient(
    45deg,
    var(--appBackgroundColor) 0 10px,
    #0ff 10px 12px
  );

  width: 15%;
  height: 15%;

  transition: width 500ms linear, height 500ms linear;
}
.videocall .me.alone {
  width: 100%;
  height: 100%;
}
.videocall .me video {
  /* background-color: #ff634777; */
  width: 100%;
  height: 100%;
}
.videocall .me::before {
  position: absolute;
  content: 'me';
}

.textchat {
  flex: 1;

  display: none; /* flex */
  flex-direction: column;

  background-color: #f0f0f0;
  color: var(--appBackgroundColor);

  /* overflow-y: auto; */
  max-height: calc(100vh - var(--headerHeight));
}
.textchat .conversation {
  flex-grow: 1;

  overflow-y: auto;

  display: flex;
  flex-direction: column-reverse;
  /* justify-content: flex-end; */

  padding: 16px;
}
.conversation span {
  font-size: 1rem;
  line-height: 1.5rem;

  padding: 0.25rem;
  border-radius: 10px;
  margin-top: 1rem;
}
.conversation .theirs {
  margin-right: 3rem;
  border-top-left-radius: 0px;

  color: #333;
  background-color: #ddd;
}
.conversation .mine {
  margin-left: 3rem;
  border-bottom-right-radius: 0px;

  color: #fff;
  background-color: #2196f3;
}
.textchat .message {
  display: flex;
  justify-content: stretch;

  border-top: 1px solid #ccc;
}
.message div:nth-of-type(1) {
  flex: 1;

  padding-left: 16px;
}

.controls {
  position: fixed;
  right: calc(50vw - 150px);
  bottom: 1vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 300px;
  height: 60px;
  opacity: 0.3;
  transition: opacity 300ms linear;
}

.controls:hover {
  opacity: 1;
}

/* @media (prefers-reduced-motion: no-preference) {
  // infinite or "strong" animations
} */
