:root {
  --appBackgroundColor: rgb(40, 44, 52);
  --headerHeight: 3rem;

  --muiDefaultColor: rgba(0, 0, 0, 0.87);
  --muiPrimaryColor: #fff;
  --muiSecondaryColor: #fff;
  --muiDefaultBgColor: #e0e0e0;
  --muiDefaultBgColorHover: #d5d5d5;
  --muiPrimaryBgColor: #3f51b5;
  --muiPrimaryBgColorHover: #303f9f;
  --muiSecondaryBgColor: #f50057;
  --muiSecondaryBgColorHover: #c51162;

  --whatsappColor: #fff;
  --whatsappBgColor: #25d366;
  --whatsappBgColorHover: #19c257;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--appBackgroundColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
